.pure-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    max-height: 200px;
}

.pure-menu a {
    vertical-align: top;
    transition-duration: 0.5s;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.80);
    font-size: larger;
}

.pure-menu ul ul a:focus{
    outline: none;
}

.pure-menu ul li ul li a, .menuitem{
    margin-top: 0%;
    background-color: transparent;
}
.pure-menu a:hover{
    /*background-color: #35354b;*/
    background-color: transparent;
    color: rgba(255, 255, 255, 0.60);
}
.pure-menu a:active{
    /*background-color: #43435f;*/
    background-color: transparent;
    color: rgba(255, 255, 255, 0.50);
}
.pure-menu a:focus{
    transition-duration: 0.1s;
    outline: solid;
    outline-width: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.50);
}
/*#presentation{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}
.container{
    border: 2px dashed rgba(236, 198, 48, 0.5);
}*/

footer{
    background-color: #43435f ;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

*::selection{
    background-color:rgba(229.5, 229.5, 229.5, 1);
    color : rgba(50, 0, 100, 0.8);
}
h1{
    text-align: center;
    padding-bottom: 3%;
    font-size: 40px;
}
section{
    display: block;
    padding-bottom: 3%;
}
.pure-menu ul li .pure-menu-item{
    background-color: #43435f;
}
a{
    color: inherit;
}

a:visited{
    color: inherit;
}

img{
    transition-duration: 0.5s;
}

img:hover{
    transition-duration: 0.5s;
    opacity: 0.8;
}

img:active{
    transition-duration: 0.5s;
    opacity: 0.6;
}

img::selection{
    transition-duration: 0.5s;
    opacity: 0.6;
}
html{
    scroll-behavior: smooth;
    background-color: #232332 ;
    color: rgba(255, 255, 255, 0.9);
}
h1 a{
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 10px;
}
h1 a:hover{
    transition-duration: 0.5s;
    opacity: 0.8;
}
h1 a:active{
    transition-duration: 0.5s;
    opacity: 0.8;
}
h1 a:focus{
    transition-duration: 0.1s;
    outline: solid;
    outline-width: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 720px) {
    .pure-menu{
        margin-left: 5px;
    }
    .pure-menu a{
        padding-left: 10px;
        padding-right: 15px;
    }
}
hr {
    border: 1px solid rgba(173, 216, 230, 0.5);
}
/** 
 * Popup in CSS without Javascript
 * Inspired by the popup system of Sahil : https://codepen.io/sahil4test
 */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #232332;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    position: sticky;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.popup .close:hover {
    color: #ee242e  !important;
}
.popup .content {
    display: block;
    max-height: 50%;
    overflow: auto;
    left: 0;
    right: 20px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}